<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="HangmanGame.css">
    <script type="text/javascript" src="HangmanGame.js" defer></script>
</head>
<body>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Info</a></li>
    </ul>
</nav>
<div id="container">
    <div id="top-of-container">
        <div id="state-and-giveup">
            <div id="state">
                <div id="point-container">
                    <h3>Point:
                        <h3 id="point"></h3></h3>
                </div>
                <div id="category-container">
                    <h3>Category:
                        <h3 id="category"></h3></h3>
                </div>
                <div id="active-card-container">
                    <h3>Active Card:
                        <h3 id="active-card"></h3></h3>
                </div>
            </div>
            <div id="give-up">
                <button>Give up</button>
            </div>
        </div>
        <div id="alphabet">
            <div id="letter-container">
            </div>
        </div>
    </div>
    <div id="word-container">
        <div id="secret-letters">
            <h3 id="secretword"></h3>

        </div>
    </div>
    <div id="card-container">
        <div id="cards">
        </div>
    </div>
</div>
</body>
</html>