<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="HangmanGame.css">
    <script type="text/javascript" src="HangmanGame.js" defer></script>
</head>
<body>
<nav>
    <ul>
        <li>
            <button id="home">Home</button>
        </li>
        <li>
            <button id="how-to-play">How to Play?</button>
        </li>
    </ul>
</nav>
<div id="level-container">
    <h1>Select a level:</h1>
    <button class="level" id="1">Easy</button>
    <button class="level" id="2">Medium</button>
    <button class="level" id="3">Hard</button>
</div>

<div id="container" hidden="hidden" aria-hidden="true">
    <div id="top-of-container">
        <div id="state-and-giveup">
            <div id="state">
                <div id="point-container">
                    <h3>Point:
                        <h3 id="point"></h3></h3>
                </div>
                <div id="category-container">
                    <h3 id="category">Category:</h3>

                </div>
                <div id="active-card-container">
                    <h3>Active Card:
                        <h3 id="active-card"></h3></h3>
                </div>
            </div>
            <div id="give-up">
                <button id="give-up-button">Give up</button>
            </div>
        </div>
        <div id="alphabet">
            <div id="letter-container">
            </div>
        </div>
    </div>
    <div id="word-container">
        <div id="secret-letters">
            <h3 id="secretword"></h3>

        </div>
    </div>
    <div id="card-container">
        <div id="cards">
        </div>
    </div>
</div>

<div class="modal">
    <div class="modal-content">
        <span class="close-button">×</span>
        <p><strong>HOW TO PLAY?</strong><br>

            Hangman is a word guessing game. If you find all the letters in the hidden word (your score must be 0 and
            over), you win the game. you will lose the game when your score is below 0 without finding all the
            letters.<br>
            You can guess by clicking on the letters. Also there are some special cards. These cards provide some
            facilities for you to guess the word.<br><br>

            <strong><i>CARDS</i></strong> <br>

            <strong><i>Buy A Letter</i></strong> → (Cost: 20 Points, 1 available per game) <br>
            After you select this card, you should click on a letter on the word and that letter is revealed to the you.
            If the word contains that letter more than once, the others are not revealed. You need to make a normal
            guess and take the risk of losing points.
            <br>
            <strong><i>Discount</i></strong> → (Cost: 5 Points, 2 available)<br>
            After you select this card, you should make a letter guess. Cost of the letter is decreased 75% and rounded
            down. But don’t forget that fact, you still lose 5 points for using this card, even if your
            guess was correct. This card can be only used when remaining points are less than 40.
            <br>
            <strong><i>Risk </i></strong>→ (Cost: 8 Points, 2 available)<br>
            After you select this card, you should make a letter guess. If the guess is correct, the next guess will be
            free (incorrect guess will not cost any points). This card can be only used when your point is less than 50
            and greater than 25.
            <br>
            <strong><i>Consolation </i></strong>→ (Cost: 5 Points, 1 available)<br>
            After you select this card, you should make a letter guess. If the guess is incorrect, the cost of next
            guess will be decreased by 50% and rounded down.
            <br>
            <strong><i>Category</i></strong> → (Cost: 5 points, 1 available):<br>
            Words will be chosen from some categories (animal, city, plant etc.). By playing this card, category is
            automatically revealed and you can learn the category of the word. </p>
    </div>
</div>

<div class="give-up-modal">
    <div class="modal-content">
        <span class="close-button-give-up">x</span>
        <p id="secret-word">Secret Word: </p>
    </div>
</div>

</body>
</html>